# Ignore node_modules, as they will be installed in the Docker image
node_modules

# Ignore build artifacts and output directories
output
tmp
temp
build
scan-scraper
bin

# Ignore Git files
.git
.gitignore

# Ignore Docker files
Dockerfile
.dockerignore

# Ignore documentation
README.md

.cta.sjon
biome.json
components.json
.zed
.tanstack

*.db*
